.TaggedInput
    width: 100%
    font-size: 2rem
    .notes
        display: flex
        justify-content: space-between
        border-bottom: solid 0.1rem gray

    .note
        flex: 1
        border: outset 0.2rem #f4f4f4
        border-radius: 0.2rem
        padding: 1rem
        margin: 0.1rem
        text-align: center
        max-width: 3rem

    input
        border: 0
        font-size: inherit
        min-width: 0
        flex: 1
