@import 'variables'
$size1: -10px
$size2: 10px
$spread: 30px
$spread2: -30px

@keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1

.TaggedInput
    // padding: 2rem
    font-size: 1.5rem
    border-radius: 2rem
    box-shadow-bottom: inset $size2 $size2 $size2 0 rgba(255,255,255,0.5),

    //inset $size1 $size1 $size2 0 rgba(174,174,192,0.2)

    .notes
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        border: 0
        margin-bottom: 2rem

    .note-container
        transition: width
        flex: 1
        max-width: 5rem
        padding: 1rem

        .note
            animation: fadein 0.3s
            background: $background
            border-radius: 3rem
            padding: 1rem
            margin: 0.1rem
            text-align: center
            box-shadow: $size2 $size2 $spread 0 $light, $size1 $size1 $spread 0 $shadow

    .input-container
        flex: 1
        .main-input
            background: transparent
            border: 0
            font-size: 5rem
            min-width: 0
            width: 100%
            height: 100%

            &::placeholder
                color: $shadow

    .close-button
        height: 2.2em
        font-color: black
        border-radius: 10rem
        border: 0
        box-shadow: -2px -2px 5px 0 $shadow, 2px 2px 5px 0 $light

        &:active
            box-shadow: 0

    .staff
        height: 8px
        margin: 0 5rem
        box-shadow: -5px -5px 10px 0 $light, 5px 5px 10px 0 $shadow
        border-radius: 1rem
        background: rgba(174,174,192,0.05)
